/* Add these styles to your CSS file (e.g., styles.css) */

.popup-content img {
    width: 100%;
    height: auto;
    object-fit: cover;
    justify-content: center;
}

.leaflet-popup-content-wrapper {
    background: linear-gradient(to right, #00843E, #FFD700, #E31C23);
    width: max-content;
}


/* Optional: style the slider */
.slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222222;
}

.slick-prev, .slick-next {
    font-size: 30px; /* Customize arrow size */
    z-index: 1;
}

/* Optional: style the dot indicators for navigation */
.slick-dots {
    bottom: 10px;
}

.slick-dots li button:before {
    color: #000; /* Color for the navigation dots */
}

.scrollable-description {
    max-height: 200px; /* Set the maximum height for the scrollable area */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 10px;
    background: rgba(255, 255, 255, 0.8); /* Slightly transparent white background */
    border-radius: 4px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}
