.leaflet-popup-content-wrapper {
    background: linear-gradient(to right, #00843E, #FFD700, #E31C23);
    width: max-content;
}


/* Style for the slick carousel container */
.slick-list {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Prevent overflow beyond the container */
}

/* Ensures slick-track is correctly aligned */
.slick-track {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style each slide */
.slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 350px;  /* Max width of the slide */
    max-height: 350px; /* Max height of the slide */
}

/*!* Ensures that the image fits within the max size without cutting off *!*/
/*.slick-cloned img, video{*/
/*    height: 350px !important;*/
/*    width: auto !important;*/
/*    object-fit: contain !important;*/
/*    display: block !important;*/
/*    justify-self: center !important;*/
/*}*/


/* Optional: style the dot indicators for navigation */
.slick-dots {
    bottom: 10px;
}

.slick-dots li button:before {
    color: #000; /* Color for the navigation dots */
}

.scrollable-description {
    max-height: 200px; /* Set the maximum height for the scrollable area */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 10px;
    background: rgba(255, 255, 255, 0.8); /* Slightly transparent white background */
    border-radius: 4px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}
