.sidebar {
    width: 30%;
    background: linear-gradient(to right, #00843E, #FFD700, #E31C23); /* Jamaican rasta colors */
    border-right: 1px solid #ccc;
    padding: 25px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Increased gap for better separation */
}

.venue-name {
    font-size: 2rem;
    font-family: "Mukta Mahee";
    font-weight: bold;
    color: black;
    text-align: center;
}

.scrollable-description {
    max-height: 250px;
    overflow-y: scroll;
    padding: 10px;
    background-color: rgba(255,255,255, 0.4);
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.9rem;
}

.sidebar p {
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
}
